# Cargar Datos

## Introducción

En un entorno real, los datos para un modelo se obtienen desde un DWH o Data Lake mediante procesos previos de ingeniería de datos. En este proyecto, se utiliza un dataset de ejemplo no productivo en formato .xlsx, por lo que este notebook se enfoca en cargar el archivo, validar su estructura y dejarlo listo para el EDA y el modelado.

In [ ]:
# Importar librerías
import pandas as pd
from pathlib import Path

In [7]:
data_path = Path("../../Base_de_datos.xlsx")

print("CWD:", Path.cwd())
print("Buscando archivo en:", data_path.resolve())

if not data_path.exists():
    raise FileNotFoundError(f"No se encontró el archivo en: {data_path.resolve()}")

df = pd.read_excel(data_path)

print("✅ Dataset cargado")
print("Shape:", df.shape)
display(df.head())

print("\nColumnas:")
print(list(df.columns))

CWD: /Users/sofiaschanton/Desktop/Python3_Henry/Modulo_5/Proyecto_Integrador_M5/PI_M5/mlops_pipeline/src
Buscando archivo en: /Users/sofiaschanton/Desktop/Python3_Henry/Modulo_5/Proyecto_Integrador_M5/PI_M5/Base_de_datos.xlsx
✅ Dataset cargado
Shape: (10763, 23)

,tipo_credito,fecha_prestamo,capital_prestado,plazo_meses,edad_cliente,tipo_laboral,salario_cliente,total_otros_prestamos,cuota_pactada,puntaje,...,saldo_mora,saldo_total,saldo_principal,saldo_mora_codeudor,creditos_sectorFinanciero,creditos_sectorCooperativo,creditos_sectorReal,promedio_ingresos_datacredito,tendencia_ingresos,Pago_atiempo
0,7,2024-12-21 11:31:35,3692160.0,10,42,Independiente,8000000,2500000,341296,88.768094,...,0.0,51258.0,51258.0,0.0,5,0,0,908526.0,Estable,1
1,4,2025-04-22 09:47:35,840000.0,6,60,Empleado,3000000,2000000,124876,95.227787,...,0.0,8673.0,8673.0,0.0,0,0,2,939017.0,Creciente,1
2,9,2026-01-08 12:22:40,5974028.4,10,36,Independiente,4036000,829000,529554,47.613894,...,0.0,18702.0,18702.0,0.0,3,0,0,NaN,NaN,0
3,4,2025-08-04 12:04:10,1671240.0,6,48,Empleado,1524547,498000,252420,95.227787,...,0.0,15782.0,15782.0,0.0,3,0,0,1536193.0,Creciente,1
4,9,2025-04-26 11:24:26,2781636.0,11,44,Empleado,5000000,4000000,217037,95.227787,...,0.0,204804.0,204804.0,0.0,3,0,1,933473.0,Creciente,1

Columnas:
['tipo_credito', 'fecha_prestamo', 'capital_prestado', 'plazo_meses', 'edad_cliente', 'tipo_laboral', 'salario_cliente', 'total_otros_prestamos', 'cuota_pactada', 'puntaje', 'puntaje_datacredito', 'cant_creditosvigentes', 'huella_consulta', 'saldo_mora', 'saldo_total', 'saldo_principal', 'saldo_mora_codeudor', 'creditos_sectorFinanciero', 'creditos_sectorCooperativo', 'creditos_sectorReal', 'promedio_ingresos_datacredito', 'tendencia_ingresos', 'Pago_atiempo']